@import "../../styles/breakpoint";

.maximize {
  position: fixed;
  top: 0%;
  left: 0%;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;

  .image_container {
    width: 1350px;
    height: 95vh;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }

    button {
      position: absolute;
      top: 5%;
      right: 7.5%;
      background-color: var(--opaque-black);
      padding: 10px;
      border-radius: 100%;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      @include lg {
        top: 3.5%;
        right: 2.5%;
      }
    }
  }
}
