:root {
  /* -COLORS- */
  --primary-color: #3d3dff;
  --light-color: #fff;
  --semi-light-color: #fafafa;
  --grey-color: #8b8b8b;
  --dark-color: #838383;
  --opaque-green: rgba(1, 107, 1, 0.2);
  --green: #016b01;
  --opaque-red: rgba(161, 37, 37, 0.2);
  --red: #a12525;
  --opaque-black: rgba(0, 0, 0, 0.4);

  /* -FONTS- */
  --heading-font-family: "Merriweather";
  --body-font-family: "IBM Plex Sans";
  --body-font-size: 13px;
  --body-font-weight: 400;
  --body-heavy-weight: 500;
}
